body {
    height: 1000px;
    position: relative;    
}

.statico {
    background: lightgray; 
    padding: 10px;   
}

.statico2{
    background: rgb(85, 7, 102); 
    padding: 1px;   
    margin-bottom: 20px;
}


.relativo {
    background: lightgreen;
    position: relative;
    top: 20px;
    left: 20px;
}

.absoluto {
    background: coral;
    position: absolute;
    top: 200px;
    left: 100px; 
}

.fijo {
    background: rgb(62, 4, 70);
    color: #ebebeb;
    padding: 10px;  
    position: fixed;
    bottom: 10px;
    right: 10px;
}
